<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DisplayCode</key>
		<string>微笑</string>
		<key>ImageName</key>
		<string>emoji_smile.png</string>
		<key>GifName</key>
		<string>emoji_smile.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_11.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>好困</string>
		<key>ImageName</key>
		<string>emoji_exhausted.png</string>
		<key>GifName</key>
		<string>emoji_exhausted.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_12.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>得意</string>
		<key>ImageName</key>
		<string>emoji_proud.png</string>
		<key>GifName</key>
		<string>emoji_proud.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_13.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>撇嘴</string>
		<key>ImageName</key>
		<string>emoji_embarrassed.png</string>
		<key>GifName</key>
		<string>emoji_embarrassed.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_14.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>憨笑</string>
		<key>ImageName</key>
		<string>emoji_giggle.png</string>
		<key>GifName</key>
		<string>emoji_giggle.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_21.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>大哭</string>
		<key>ImageName</key>
		<string>emoji_cry.png</string>
		<key>GifName</key>
		<string>emoji_cry.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_22.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>调皮</string>
		<key>ImageName</key>
		<string>emoji_naughty.png</string>
		<key>GifName</key>
		<string>emoji_naughty.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_23.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>疑问</string>
		<key>ImageName</key>
		<string>emoji_doubt.png</string>
		<key>GifName</key>
		<string>emoji_doubt.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_24.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>惊讶</string>
		<key>ImageName</key>
		<string>emoji_surprise.png</string>
		<key>GifName</key>
		<string>emoji_surprise.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_31.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>厉害</string>
		<key>ImageName</key>
		<string>emoji_powerful.png</string>
		<key>GifName</key>
		<string>emoji_powerful.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_32.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>崇拜</string>
		<key>ImageName</key>
		<string>emoji_worship.png</string>
		<key>GifName</key>
		<string>emoji_worship.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_33.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>奋战</string>
		<key>ImageName</key>
		<string>emoji_struggle.png</string>
		<key>GifName</key>
		<string>emoji_struggle.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_34.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>晕</string>
		<key>ImageName</key>
		<string>emoji_weighs.png</string>
		<key>GifName</key>
		<string>emoji_weighs.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_41.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>色</string>
		<key>ImageName</key>
		<string>emoji_appearance.png</string>
		<key>GifName</key>
		<string>emoji_appearance.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_42.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>无语</string>
		<key>ImageName</key>
		<string>emoji_speechless.png</string>
		<key>GifName</key>
		<string>emoji_speechless.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_43.png</string>
	</dict>
	<dict>
		<key>DisplayCode</key>
		<string>衰</string>
		<key>ImageName</key>
		<string>emoji_heartstopper.png</string>
		<key>GifName</key>
		<string>emoji_heartstopper.gif</string>
		<key>PngUrl</key>
		<string>http://test01.genshuixue.com/asset/hermes/img/im/expression_44.png</string>
	</dict>
</array>
</plist>
