<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>picture</string>
		<key>name</key>
		<string>相册</string>
		<key>icon</key>
		<string>ic_picture_normal</string>
	</dict>
	<dict>
		<key>key</key>
		<string>camera</string>
		<key>name</key>
		<string>拍照</string>
		<key>icon</key>
		<string>ic_camera_normal</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coupon</string>
		<key>name</key>
		<string>优惠券</string>
		<key>icon</key>
		<string>ic_coupon_chat_normal</string>
	</dict>
</array>
</plist>
